<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>New Animal</title>
	<link th:replace="fragments/head">
</head>
<body>
	 <div th:replace="fragments/navbar"></div>
	 
	 <h2>Add an Animal</h2>
	   <div class="container-fluid">
	
 
        <form th:action="@{/newanimal}" th:object="${newReptile}" method="POST" autocomplete="off" >
            <div class="form-group">

                <input type="text" th:field="*{name}" placeholder="Name" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="number hidden" name="age" th:field="*{age}" placeholder="Age" class="form-control"/>
                <input type="hidden" name="age" value="age"/>  

            </div>
               <div class="form-group">
                <input th:field="*{species}" placeholder="Species" class="form-control"/> 
            </div>
               <div class="form-group">
                <input type="number hidden" name="weight"  step="0.1" th:field="*{weight}" placeholder="Weight" class="form-control"/>
                <input type="hidden" name="weight" value="weight"/> 
      
            </div>
            
            
            <div class="form-group">
                <button class="btn btn-md btn-success btn-block" name="Submit" value="Submit" type="Submit" th:text="Submit"></button>
            </div>
            <a class="btn btn-info" th:href="@{/}" role="button">Go Back</a>
        </form>
        <div th:if="${successMessage}">
            <h3><span class="text-success" th:utext="${successMessage}"></span></h3>
    </div>
    </div>
  
</body>
</html>
	 
