<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>New Animal</title>
	<link th:replace="fragments/head">
</head>
<body>
 <div th:replace="fragments/navbar"></div>
 
 <img alt="Cat" src="https://lh3.googleusercontent.com/-q3y_IyXk054/YFD-bAomknI/AAAAAAAAEXc/G_WaRqx6uloTkiUeO2vc6HvfxEX82zLdQCK8BGAsYHg/s0/2021-03-16.jpg?authuser=0"
 style="max-height: 500px; max-width: 500px;" />
 
 			<form th:action="@{/}" method="get">
				<button class="btn btn-md btn-primary btn-block" type="Submit">Go
					Home</button>
			</form>
 
  </body>
    </html>